{% load static user_agents random_shop %}{% spaceless %}

<html class="no-js" lang="ru">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
		
		
		{% block head_title %}{% endblock %}
		{% block meta_descriprion %}{% endblock %}
		{% block seo_schema %}{% endblock %}
		{% block extra_head %}{% endblock %}
		
		
		<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<link rel="manifest" href="/site.webmanifest" />
		
		
		
		
        
		
        
		
        
        <link rel="stylesheet" href="{% static 'css/plugins.css' %}">        
        <link rel="stylesheet" href="{% static 'css/style-min.css' %}">
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
		<link rel="stylesheet" href="{% static 'css/photoswipe.min.css' %}">
		<meta name="yandex-verification" content="4574e44055922045" />
		<script type="text/javascript" > (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date(); for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }} k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(103302368, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); </script> 
		
		
		
	</head>
	
	<body class="template-index index-demo4">
		<noscript><div><img src="https://mc.yandex.ru/watch/103302368" style="position:absolute; left:-9999px;" alt="" /></div></noscript> 
		
        {% if user.is_authenticated %}{% endif %}
		
		
		
		
		
		
        <div class="page-wrapper">
			{% comment %}
            <div class="top-promo-bar style1">
                <div class="container">
                    <div class="promo-slider-1items alert fade show" role="alert">
                        <div class="item text-center d-flex d-flex-justify-center flex-sm-nowrap">
                            Limited-Time Offers : Mid-Summer Season Sale On Selected Items - <a class="text-link ms-2" href="shop-top-filter.html">Shop Now</a>                          
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><i class="icon anm anm-times-l"></i></button>
						</div>
                        <div class="item text-center d-flex d-flex-justify-center flex-sm-nowrap">
                            <a href="/">Purchase This Incredible Template Now! Sale end In</a>
                            
                            <div class="promo-counter counter-inline" data-countdown="2024/10/01"></div>
                            
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><i class="icon anm anm-times-l"></i></button>
						</div>
					</div>
				</div>
			</div>
			{% endcomment %}
			
            
			{% if request|is_mobile %}
			{% else %}
			
			{% endif %}
			
			
			
			<header class="header d-flex align-items-center header-10 header-fixed mih-75 header-fixed">
				<div class="container-fluid">        
					<div class="row">
						
						<div class="col-1 col-sm-1 col-md-1 col-lg-5 align-self-center d-menu-col hdr-menu-left menu-position-left">
							<nav class="navigation" id="AccessibleNav">
								<ul id="siteNav" class="site-nav medium left">
									<li class="lvl1 parent dropdown"><a href="/">Главная <i class="icon anm anm-angle-down-l"></i></a>
										
									</li>
									<li class="lvl1 parent megamenu"><a href="/c/katalog/">Каталог <i class="icon anm anm-angle-down-l"></i></a>
									</li>
									<li class="lvl1 parent megamenu"><a href="#">Магазины <i class="icon anm anm-angle-down-l"></i></a>
									</li>
									<li class="lvl1 parent dropdown"><a href="/brands/brendy/">Бренды <i class="icon anm anm-angle-down-l"></i></a>
									</li>
									<li class="lvl1 parent dropdown"><a href="/posts/novosti/">Статьи <i class="icon anm anm-angle-down-l"></i></a>
										
									</li>
								</ul>
							</nav>
						</div>
						
						
						<div class="logo col-4 col-sm-4 col-md-4 col-lg-2 align-self-center">
							{% url 'shop:home' as home_url %}
							{% if request.get_full_path == home_url %}
							<a class="logoImg" href="/s/sitemap.html">
								<img class="mx-lg-auto default-logo" src="{% static 'img/logo.png' %}" alt="InnovateHome.ru">
							</a> 
							{% else %}
							<a href="/">
								<img class="mx-lg-auto default-logo" src="{% static 'img/logo.png' %}" alt="InnovateHome.ru">
							</a>
							{% endif %}
							
						</div>
						
						
						<div class="col-8 col-sm-8 col-md-8 col-lg-5 align-self-center icons-col text-right">
							
							<div class="search-parent iconset">
								<div class="site-search" title="Search">
									<a href="#;" class="search-icon clr-none" data-bs-toggle="offcanvas" data-bs-target="#search-drawer"><i class="hdr-icon icon anm anm-search-l"></i></a>
								</div>
								<div class="search-drawer offcanvas offcanvas-top" tabindex="-1" id="search-drawer">
									<div class="container">
										<div class="search-header d-flex-center justify-content-between mb-3">
											<h3 class="title m-0">Что найти?</h3>
											<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
										</div>
										<div class="search-body">
											<form class="form minisearch" id="header-search" action="{% url 'search:search'%}" method="get">
												
												<div class="d-flex searchField">
													<div class="search-category">
														<select class="rgsearch-category rounded-end-0">
															<option value="0">Каталог</option>
															<option value="1">- Все</option>
															<option value="2">- Бытовая техника</option>
															<option value="3">- Смартфоны</option>
															<option value="4">- Гаджеты</option>
															<option value="5">- Умный дом</option>
															
														</select>
													</div>
													<div class="input-box d-flex fl-1">
														<input name="q" type="text" class="input-text border-start-0 border-end-0" placeholder="Найти..."  />
														<button type="submit" class="action search d-flex-justify-center btn btn-primary rounded-start-0"><i class="icon anm anm-search-l"></i></button>
													</div>
												</div>
												
												
												<div class="popular-searches d-flex-justify-center mt-3">
													<span class="title fw-600">Популярно:</span>
													<div class="d-flex-wrap searches-items">
														<a class="text-link ms-2" href="#">Camera,</a>
														<a class="text-link ms-2" href="#">Laptop,</a>
														<a class="text-link ms-2" href="#">Electronic</a>
													</div>
												</div>
												
												
											</form>
										</div>
									</div>
								</div>
							</div>
							
							
							<div class="account-parent iconset">
								
								{% random_item as random_shop %}
								{% if random_shop %}
								
								<a href="{{random_shop.get_absolute_url}}" class="btn btn-secondary btn-sm fs-sm rounded d-lg-inline-flex">Товар дня</a>
								
								{% endif %}
							</div>
							
							
							
							
							
							<button type="button" class="iconset pe-0 menu-icon js-mobile-nav-toggle mobile-nav--open d-lg-none" title="Menu"><i class="hdr-icon icon anm anm-times-l"></i><i class="hdr-icon icon anm anm-bars-r"></i></button>
							
						</div>
						
					</div>
				</div>
			</header>
			
			
			
			
            {% if request|is_mobile %}
			
			
			
			
			<div class="mobile-nav-wrapper mobileMenu-bg-black" role="navigation">
				<div class="closemobileMenu">Закрыть меню <i class="icon anm anm-times-l"></i></div>
				<ul id="MobileNav" class="mobile-nav">
					<li class="lvl1 parent dropdown"><a href="/c/katalog/">Каталог <i class="icon anm anm-angle-down-l"></i></a>
						{% comment %}
						<ul class="lvl-2">                          
							<li><a href="/category/dacha-i-sad/" class="site-nav">Дача и сад <i class="icon anm anm-angle-down-l"></i></a>
								<ul class="lvl-3 dropdown">                                  
									<li><a href="#" class="site-nav">Уход за садом <i class="icon anm anm-angle-down-l"></i></a>
										<ul class="lvl-4 dropdown">                                            
											
											<li><a href="/category/sadovaya-tehnika/" class="site-nav">Садовая техника</a></li>
											<li><a href="/category/sadovye-instrumenty/" class="site-nav">Садовые инструменты</a></li>
											<li><a href="/category/tachki-sadovye/" class="site-nav">Тачки</a></li>
											<li><a href="/category/gazonokosilki-i-trimmery/" class="site-nav">Газонокосилки и триммеры</a></li>
											<li><a href="/category/motobloki/" class="site-nav">Мотоблоки</a></li>
											<li><a href="/category/lopaty-dlya-grunta/" class="site-nav">Лопаты</a></li>
											<li><a href="/category/grabli/" class="site-nav">Грабли</a></li>
											<li><a href="/category/opryskivateli-ruchnye/" class="site-nav last">Опрыскиватели</a></li>
											
											
											
											
										</ul>
									</li>
									<li><a href="#" class="site-nav">Отдых на даче <i class="icon anm anm-angle-down-l"></i></a>
										<ul class="lvl-4 dropdown">                                            
											
											
											<li><a href="/category/mangaly/" class="site-nav">Мангалы</a></li>
											<li><a href="/category/koptilni/" class="site-nav">Коптильни</a></li>
											<li><a href="/category/drova/" class="site-nav">Дрова</a></li>
											<li><a href="/category/tandyry/" class="site-nav">Тандыры</a></li>
											<li><a href="#" class="site-nav">Садовая мебель</a></li>
											<li><a href="#" class="site-nav">Бассейны</a></li>
											<li><a href="#" class="site-nav">Садовый декор</a></li>
											<li><a href="#" class="site-nav last">Сауны и бани</a></li>
											
											
										</ul>
									</li>
								</ul>
							</li>
							
							
							<li><a href="/category/udobreniya-i-uhod-za-rasteniyami/" class="site-nav">Удобрения</a></li>
							<li><a href="/category/elektroinstrumenty/" class="site-nav">Электроинструменты</a></li>
							<li><a href="/category/stroitelnye-instrumenty/" class="site-nav">Строительные инструменты</a></li>
							<li><a href="/category/generatory/" class="site-nav">Генераторы</a></li>
							<li><a href="/category/pnevmoinstrumenty/" class="site-nav">Пневмоинструменты</a></li>
							<li><a href="/category/rashodnye-materialy-i-osnastka-dlya-instrumenta/" class="site-nav">Расходные материалы</a></li>
							<li><a href="/category/svarochnoe-oborudovanie/" class="site-nav">Сварочное оборудование</a></li>
							<li><a href="/category/stroitelnye-materialy/" class="site-nav last">Стройматериалы</a></li>
							
							
						</ul>
						{% endcomment %}
					</li>
					
					<li class="lvl1 parent dropdown"><a href="/">Главная <i class="icon anm anm-angle-down-l"></i></a></li>
					<li class="lvl1 parent megamenu"><a href="#">Магазины <i class="icon anm anm-angle-down-l"></i></a></li>
					<li class="lvl1 parent dropdown"><a href="/brands/brendy/">Бренды <i class="icon anm anm-angle-down-l"></i></a></li>
                    <li class="lvl1 parent dropdown"><a href="/posts/novosti/">Статьи <i class="icon anm anm-angle-down-l"></i></a></li>
				</ul>
			</div>
			{% endif %}
			
			
            
			
			
			
			
			
			
			
			
			
			
			
			
            {% block breadcrumbs %}{% endblock breadcrumbs %}
			{% block content %}{% endblock content %}
			{% block extra_body %}{% endblock extra_body %}
			<div id="site-scroll2" class="ya-share2" data-curtain data-shape="round" data-limit="0" data-more-button-type="short" data-services="messenger,vkontakte,odnoklassniki,telegram,twitter,whatsapp,moimir,pinterest"></div>
            
			
            
            <div class="footer">
				
				
				
				
				
                <div class="footer-bottom clearfix">
                    <div class="container">
                        <div class="d-flex-center flex-column justify-content-md-between flex-md-row-reverse">
                            
                            <div class="copytext">&copy; 2024-{% now "Y" %} {{ request.get_host|title }}. Сайт носит информационный характер и не является публичной офертой, определяемой положениями ГК РФ. Все бренды, названия сайтов, логотипы, товарные знаки и зарегистрированные товарные знаки являются собственностью их владельцев и на данном веб-сайте представлены исключительно для идентификации. 
								
								
							</div>
						</div>
					</div>
				</div>
			</div>
            
			
            
            <div id="site-scroll"><i class="icon anm anm-arw-up"></i></div>
			
			
            
			
            
			
			
            
			
            
            <script src="{% static 'js/plugins.js' %}"></script>            
            <script src="{% static 'js/main.js' %}"></script>
			<script src="{% static 'js/photoswipe.min.js' %}"></script>
			
			<script src="https://yastatic.net/share2/share.js"></script>
			
			{% block floorAd %}
			{% comment %}
			
			
			<div class="newsletter-modal style4 modal fade" id="newsletter_modal" tabindex="-1" aria-hidden="true">           
				<div class="modal-dialog modal-lg modal-dialog-centered">
					<div class="modal-content border-0">
						<div class="modal-body p-0">
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							<div class="newsletter-wrap row align-items-center">
								<div class="newsltr-img col-sm-12 col-12 col-md-7 d-md-block">
									<script async src="https://telegram.org/js/telegram-widget.js?22" data-telegram-post="{% random_telegram_post %}" data-width="100%"></script>
									
								</div>
								<div class="newsltr-text col-12 col-sm-12 col-md-5 text-center text-md-start">
									<div class="wraptext mw-100 text-center">
										
										
										
										
										
										<div class="customCheckbox checkboxlink clearfix justify-content-center">
											<a href="https://t.me/+lbzEXClY-CtlZDJi" rel="nofollow" target="_blank" class="btn btn-secondary product-form-pre-order">
												<span>Подписаться</span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endcomment %}
			{% endblock %}
			
			
			
			
			<script>
				$(window).ready(function () {
					setTimeout(function () {
						$('#newsletter_modal').modal("show");
					}, 7000);
				});
			</script>
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
		</div>
		<script src="https://yastatic.net/share2/share.js"></script>
		
	</body>
</html>
{% endspaceless %}