{% extends "base.html" %}
{% load static %}
{% block head_title %}
<title>Карта сайта</title>
{% endblock %}
{% block meta_descriprion %}{% now "Y" as year %}{% now "E" as month %}
<meta name="description" content="Карта сайта">
{% endblock %}
{% block seo_schema %}{% now "Y" as year %}{% now "E" as month %}
<meta name="robots" content="INDEX, FOLLOW">
{% endblock %}
{% block extra_head %}
<link href="{% static 'css/lightbox.css' %}" rel="stylesheet">
{% endblock %}
{% block bodyclass %}
<body>
	{% endblock bodyclass %}
	{% block breadcrumbs %}
	<section class="py-3 bg">
		<div class="container">
			<nav>
				<ol class="breadcrumb text-white" itemscope="itemscope" itemtype="http://schema.org/BreadcrumbList">
					<li class="breadcrumb-item" itemscope="itemscope" itemtype="http://schema.org/ListItem" itemprop="itemListElement"><a itemprop="item" href="/"><span itemprop="name">Главная</span></a></li>
					<li class="breadcrumb-item active" aria-current="page" itemscope="itemscope" itemtype="http://schema.org/ListItem" itemprop="itemListElement"><span itemprop="name">{{ object.title }}</span></li>
				</ol>  
			</nav>
		</div> 
	</section>
	{% endblock breadcrumbs %}
	{% block content %}
	{% now "Y" as year %}
	{% now "E" as month %}
	<section class="section-name bg padding-y">
		<div class="container">
			<header class="section-heading">
				<h1 class="section-title">Карта сайта </h1>
			</header>
			
			
			<ul class="town">
				{% for url in urlset %}
				<li><a href="{{ url.location }}">{{ url.item }}</a></li>
				{% endfor %}
			</ul>
			
			
			<br />
			<a href="javascript: history.back()" class="btn btn-light"> &laquo Назад</a>
		</div> 
	</section>
	<div class="modal fade" id="staticBackdrop" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Каталог</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div id="marketWidget1"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary">В каталог</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal">Закрыть</button>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}																			