{% extends "base.html" %}
{% load static mptt_tags clean_title %}
{% block head_title %}{% now "Y" as year %}{% now "E" as month %}
<title>{% if object.metatitle %}{{ object.metatitle|title }}{% else %}{{ object.title|title }} - {{ request.get_host }}{% endif %}</title>
{% endblock %}
{% block meta_descriprion %}{% now "Y" as year %}{% now "E" as month %}
<meta name="description" content="{% if object.metadescription %}{{ object.metadescription }} {% else %} {{ object.title|title }} {% endif %} {{ year }}">

<meta name="keywords" content="{{ object.title|title }}">

{% endblock %}
{% block seo_schema %}{% now "Y" as year %}{% now "E" as month %}
<meta name="referrer" content="no-referrer-when-downgrade">


{% if object.description %}
<meta name="robots" content="index,follow">
{% else %}
<meta name="robots" content="noindex,follow">
{% endif %}




<link rel="canonical" href="https://{{ request.get_host }}{{ object.get_absolute_url }}" />

<script type="application/ld+json"> {"@context": "https://schema.org","@type": "BreadcrumbList","itemListElement": [{"@type": "ListItem","position": 0,"name": "Главная","item": "https://{{ request.get_host }}"},{% for category in category_bread_crumbs %}{"@type": "ListItem","position": {{ forloop.counter }},"name": "{{ category.title }}","item": "https://{{ request.get_host }}{{ category.get_absolute_url }}"} {% if forloop.last %}{% else %},{% endif %}{% endfor %}]}</script>

<script type="application/ld+json">{ "@context": "https://schema.org", "@type": "Article", "headline": "{{ object.title|title }}", "alternativeHeadline": "{{ object.metatitle|title }}", "image": "https://{{ request.get_host }}/{{ object.image }}", "author": "{{ object.author }}", "genre": "Дача и сад", "keywords": "{{ object.title }}", "wordcount": "{{ word_count }}","publisher": { "@type": "Organization", "name": "{{ request.get_host }}", "logo": { "@type": "ImageObject", "url": "https://{{ request.get_host }}/static/img/logo.png" } }, "url": "https://{{ request.get_host }}{{ object.get_absolute_url }}", "mainEntityOfPage": { "@type": "WebPage", "@id": "https://www.google.ru/search?q={{ object.title|title }}" }, "datePublished": "{{ object.publish_date|date:"c" }}", "dateCreated": "{{ object.publish_date|date:"c" }}", "dateModified": "{{ object.publish_date|date:"c" }}", "description": "{{ object.shortdescription|cut:'Заключение'|cut:'«'|cut:'»'|safe }}","articleBody": "" }</script>


<meta property="og:url" content="https://{{ request.get_host }}{{ object.get_absolute_url }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ object.title|title }}">
<meta property="og:image" content="https://{{ request.get_host }}/{{ object.image }}">
<meta property="og:description" content="{% if object.metadescription %}{{ object.metadescription }} {% else %} {{ object.title|title }} {% endif %} {{ year }}">
<meta property="og:site_name" content="InnovateHome.ru">

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@InnovateHome">
<meta name="twitter:creator" content="@individual_account">
<meta name="twitter:url" content="https://{{ request.get_host }}{{ object.get_absolute_url }}">
<meta name="twitter:title" content="{{ object.title|title }}">
<meta name="twitter:description" content="{% if object.metadescription %}{{ object.metadescription }} {% else %} {{ object.title|title }} {% endif %} {{ year }}">
<meta name="twitter:image" content="https://{{ request.get_host }}/{{ object.image }}">


{% endblock %}
{% block extra_head %}
{% endblock %}
{% block body_type %}
<body class="blog-page blog-details-page">
	{% endblock %}
	{% block content %}{% now "Y" as year %}{% now "E" as month %}
	<div id="page-content"> 
		
		<div class="container">
			<div class="row">
				
				<div class="col-12 col-sm-12 col-md-12 col-lg-9 main-col">
					<div class="blog-article"> 
						<div class="breadcrumbs">
							<a href="/">Главная</a>
							{% for category in category_bread_crumbs %}
							<span class="title">
								<i class="icon anm anm-angle-right-l"></i>
								<a href="{{ category.get_absolute_url }}">{{ category.title }}</a>
							</span>
							{% endfor %}
							
						</div>
						<h1 class="h1">{{ object.title }}</h1>
						
						
						
						<ul class="publish-detail d-flex-wrap">                      
							<li> <time datetime="{{ object.publish_date|date:'c' }}">{{ object.publish_date }}</time></li>
							{% if read_time == 0 %}
							<li><i class="icon anm anm-clock-r"></i> Время чтения: 7 минут.</li>
							{% else %}
							<li><i class="icon anm anm-clock-r"></i> Время чтения: {{ read_time|floatformat:0 }} минут.</li>
							{% endif %}
							
							<li><i class="icon anm anm-comments-l"></i> <a href="#">0 комментариев.</a></li>
							<li><i class="icon anm anm-eye-l"></i>{{ object.views }} просмотров.</li>
							<li>
								<span class="accordion-header float-end" id="headingOne" data-heading-tag="H2">
									<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">Содержание</button>
								</span>
							</li>
							
						</ul>
						
						{% if user.is_authenticated %}
						{% endif %}
						
						
						{% if object.shortdescription %}
						<blockquote>
							<p>{{ object.shortdescription|cut:'Малоэтажная страна'|cut:'Заключение'|cut:'«'|cut:'»'|safe }}</p>
							</blockquote>
							{% endif %}
							
						{% comment %}
						<div class="blog-img mb-3">
							<img class="rounded-0 blur-up lazyload" data-src="/{{ object.image }}" src="/{{ object.image }}" alt="{{ object.title }} фото" width="1200" height="700" />
						</div>
						{% endcomment %}
						
						{% if object.description %}
						<div class="about-details faqs-style faqs-style2 px-50">
							<div class="accordion" id="accordionFaq">
								<div class="accordion-item">
									
									<div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionFaq" style="">
										<div class="accordion-body">
											<div class="content">
												{{ toc|safe }}
											</div>
										</div>
									</div>
								</div>
								
							</div>
						</div>
						{% endif %}
						
						
						
						
						
						<div class="blog-content">
							
							
							
							
							<div class="content">
								{{ article|safe }}
								
								<h2>Заинтересовались?</h2>
								<div class="product-action w-100 d-flex-wrap mb-3 mt-1">
									{% for item in related_prod %}
									<div class="product-form-submit addcart fl-1 ms-0">
										<a href="{{ item.get_absolute_url }}"  class="btn btn-danger product-form-pre-order"><span>Да</span></a>
									</div>
									{% endfor %}
									<div class="product-form-submit buyit fl-1 ms-3">
										<button type="submit" class="btn btn-primary proceed-to-checkout"><span>Нет</span></button>
									</div>
									
								</div>
								
								
								
								
							</div>
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							<div class="row blog-action d-flex-center justify-content-between">
								<ul class="col-lg-6 tags-list d-flex-center">
									<li class="item fw-600">Интересно почитать : </li>
									{% if object.plitka_bottom %}
									{% for item in plitka_bottom %}									
									<li class="item"><a class="text-link" href="/t/?q={{ item.title }}"> {{ item.title }}  </a></li>									
									{% endfor %}									
									{% endif %}
								</ul>
								
							</div>
							<div class="blog-nav d-flex-center justify-content-between mt-3">
								{% for item in neighbors2 %}
								<div class="nav-prev fs-14">
									<a href="{{ item.get_absolute_url }}">
										<i class="align-middle me-2 icon anm anm-angle-left-r"></i>
										<span class="align-middle">{{ item.title }}</span>
									</a>
								</div>
								{% endfor %}	
								{% for item in neighbors1 %}	
								<div class="nav-next fs-14">
									<a href="{{ item.get_absolute_url }}">
										<span class="align-middle">{{ item.title }}</span>
										<i class="align-middle ms-2 icon anm anm-angle-right-r"></i>
									</a>
								</div>
								{% endfor %}		
							</div>
							<hr />
							{% if object.author %}
							<div class="author-bio">
								<div class="author-image d-flex">
									<a class="author-img" href="{{ object.author.get_absolute_url }}">
										<img class="blur-up lazyload" data-src="{{ object.author.author_image.url }}" src="{{ object.author.author_image.url }}" alt="{{ object.author }}" width="200" height="200" />
									</a>
									<div class="author-info ms-4">
										<h4 class="mb-2"><a href="{{ object.author.get_absolute_url }}">{{ object.author }}</a></h4>
										<p class="text-muted mb-2"><span class="postcount">Постов {{ author_arts_count }}</span><span class="postsince ms-2">C 2023 года</span></p>
										<p class="author-des"></p>
									</div>
								</div>
							</div>
							{% endif %}
							
							
							
							<div class="blog-grid-view">
								
								<div class="row col-row row-cols-lg-2 row-cols-sm-2 row-cols-1">
									
									
									{% for item in related_items2 %}
									<div class="blog-item col-item">
										<div class="blog-article zoomscal-hov">
											{% comment %}
											<div class="blog-img">
												<a class="featured-image rounded-0 zoom-scal" href="{{ item.get_absolute_url }}">
													
													{% if item.image %}
													<img class="rounded-0 blur-up lazyload" data-src="{{ item.image.url }}" src="{{ item.image.url }}" alt="{{ item.title }}" width="740" height="410" />
													{% else %}
													
													<img class="rounded-0 blur-up lazyload" data-src="/static/img/noimage.jpg" src="/static/img/noimage.jpg" alt="{{ item.title }}" width="740" height="410" />
													
													{% endif %}
													
													
												</a>
											</div>
											{% endcomment %}
											<div class="blog-content">
												<span class="h3">
													<a href="{{ item.get_absolute_url }}">{{ item.title }}</a>
												</span>
												<ul class="publish-detail d-flex-wrap">                      
													
													
													<li><i class="icon anm anm-eye-l"></i>{{ item.views }} <span class="mx-2 views"> </span></li>
												</ul>
												<p class="content">{{ item.shortdescription|truncatewords_html:20 }}</p>
												<a href="{{ item.get_absolute_url }}" class="btn btn-secondary btn-sm goit"></a>
											</div>
										</div>
									</div>
									{% if forloop.counter|divisibleby:8 %}
									{% endif %}
									{% endfor %}
									
									
								</div>
							</div>
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							<div class="formFeilds comment-form form-vertical">
								<form method="post" action="#">
									<h2 class="mb-3">Оставить комментарий</h2>
									<div class="row">
										<div class="col-12 col-sm-12 col-md-6 col-lg-6">
											<div class="form-group">
												<label for="commentName" class="d-none">Имя</label>
												<input type="text" id="commentName" name="contact[name]" placeholder="Имя" value="" required />
											</div>
										</div>
										<div class="col-12 col-sm-12 col-md-6 col-lg-6">
											<div class="form-group">
												<label for="commentEmail" class="d-none">Email</label>
												<input type="email" id="commentEmail" name="contact[email]" placeholder="Email" value="" required />                        	
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-12 col-sm-12 col-md-12 col-lg-12">
											<div class="form-group">
												<label for="commentMessage" class="d-none">Комментарий</label>
												<textarea rows="5" id="commentMessage" name="contact[body]" placeholder="Оставить свой комментарий" required></textarea>
											</div>
										</div>  
									</div>
									<div class="row">
										<div class="col-12 col-sm-12 col-md-12 col-lg-12">
											<input type="submit" class="btn btn-lg" value="Опубликовать">
										</div>
									</div>
								</form>
							</div>
							
							{% for item in arts %}
							<div class="card">
								<div class="card-body">
									<div class="position-relative">
										{% comment %}
										<a href="{{ item.get_absolute_url }}">
											{% if item.image %}
											<img class="card-img" src="/media/{{ item.image }}">
											{% else %}
											<img class="card-img" src="/static/img/noimage.jpg">
											{% endif %}
										</a>	
										{% endcomment %}
										<div class="card-img-overlay d-flex align-items-start flex-column p-3">
											<div class="w-100 mt-auto">
												<a href="{{ item.get_absolute_url }}" class="badge text-bg-info mb-2"><i class="fas fa-circle me-2 small fw-bold"></i>{{ item.category }}</a>
											</div>
										</div>
									</div>
									<div class="card-body px-0 pt-3">
										<h5 class="card-title">
											<a href="{{ item.get_absolute_url }}" class="btn-link text-reset stretched-link fw-bold">{{ item.title }}</a>
										</h5>
										<ul class="nav nav-divider align-items-center d-none d-sm-inline-block">
											<li class="nav-item">
												<div class="nav-link">
													<div class="d-flex align-items-center position-relative">
														<div class="avatar avatar-xs">
														</div>
													</div>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
				
				<div class="col-12 col-sm-12 col-md-12 col-lg-3 blog-sidebar sidebar sidebar-bg">
					
					<div class="sidebar-tags sidebar-sticky clearfix">
						
						
						
						
						
						<div class="sidebar-widget clearfix">
							<div class="widget-title h2">Интересно:</div>
							<div class="widget-content">
								<div class="list list-sidebar-products">
									{% for item in related_items %} 
									<div class="mini-list-item d-flex align-items-center w-100 clearfix">
										{% comment %}
										<div class="mini-image">
											<a class="item-link" href="{{ item.get_absolute_url }}">
												{% if item.image %}
												
												<img class="featured-image blur-up lazyloaded" data-src="{{ item.image.url }}" src="{{ item.image.url }}" width="100" height="100">
												{% else %}
												<img class="featured-image blur-up lazyloaded" data-src="/static/img/noimage.jpg" src="/static/img/noimage.jpg" width="100" height="100">
												
												{% endif %}
												
											</a>
										</div>
										{% endcomment %}
										<div class="ms-3 details">
											<a class="item-title" href="{{ item.get_absolute_url }}">
												
												{{ item.title }}
												
											</a>
											<div class="item-meta opacity-75"><i class="icon anm anm-eye-l mx-2"></i>{{ item.views }} </div>
										</div>
									</div>
									{% endfor %}
									
									
								</div>
							</div>
						</div>
						
						
						
						
						
						
						<div class="sidebar-widget clearfix">
							<div class="widget-title h2">Читаемое:</div>
							<div class="widget-content">
								<div class="list list-sidebar-products">
									{% for item in most_read %} 
									<div class="mini-list-item d-flex align-items-center w-100 clearfix">
										{% comment %}
										<div class="mini-image">
											<a class="item-link" href="{{ item.get_absolute_url }}">
												{% if item.image %}
												
												<img class="featured-image blur-up lazyloaded" data-src="{{ item.image.url }}" src="{{ item.image.url }}" width="100" height="100">
												{% else %}
												<img class="featured-image blur-up lazyloaded" data-src="/static/img/noimage.jpg" src="/static/img/noimage.jpg" width="100" height="100">
												
												{% endif %}
												
											</a>
										</div>
										{% endcomment %}
										<div class="ms-3 details">
											<a class="item-title" href="{{ item.get_absolute_url }}">{{ item.title }}</a>
											<div class="item-meta opacity-75"><i class="icon anm anm-eye-l mx-2"></i>{{ item.views }} </div>
										</div>
									</div>
									{% endfor %}
									
									
								</div>
							</div>
						</div>
						
						
						
						
						
						
						{% comment %}
						<div class="sidebar-widget clearfix">
							<div class="widget-title">По теме:</div>
							<div class="widget-content">
								{% for item in market|dictsortreversed:"offer.price.value" %}
								<div class="blog-item col-item">
									<div class="blog-article zoomscal-hov">
										<div class="blog-img">
											<a class="featured-image rounded-0 zoom-scal" onclick="window.open('{{ item.offer.url|cut:'https://pokupki.market.yandex.ru' }}')" style="cursor: pointer;">
											<img class="rounded-0 blur-up lazyloaded" data-src="{{ item.offer.photo.url }}" src="{{ item.offer.photo.url }}" alt="{{ item.name|cut:'&#34;'|cut:',' }}"></a>
										</div>
										<div class="blog-content">
											<span class="h4">
												<a onclick="window.open('{{ item.offer.url|cut:'https://pokupki.market.yandex.ru' }}')" style="cursor: pointer;">{{ item.name|cut:'&#34;'|cut:',' }}</a>
											</span>
											<p class="content">
												{% if item.price.min %}
												<strong class="price">{{ item.price.min|floatformat:0 }} ₽</strong> 
												{% else %}
												<strong class="price">{{ item.offer.price.value|floatformat:0 }} ₽</strong> 
												{% endif %}
											</p>
										</div>
									</div>
								</div>
								{% endfor %}
							</div>
						</div>
						{% endcomment %}
						{% if object.plitka_search %}
						<div class="sidebar-widget clearfix tags-clouds">
							<div class="widget-title">Полезная информация</div>
							<div class="widget-content">
								<ul class="tags-list d-flex-wrap">
									
									{% for item in plitka_search %}									
									<li class="item"><a class="rounded-3" href="/t/?q={{ item.title }}"> {{ item.title }}  </a></li>									
									{% endfor %}									
									
								</ul>
							</div>
						</div>
						{% endif %}
						
						
						
					</div>
					
				</div>
			</div>
		</div>
		
	</div>
	
	{% endblock content %}	
	{% block extra_body %}
	
	
	
{% endblock %}