{% extends "base.html" %}
{% load mptt_tags %}
{% block head_title %}{% now "Y" as year %}{% now "F" as month %}
<title>{% if cat_title.metatitle %} {{ cat_title.metatitle }} {% else %} {{ cat_title.title|title }} Коттеджей - (Планировки, Фото, Цены {{ year }}) {% endif %}</title>


{% endblock %}
{% block meta_descriprion %}{% now "Y" as year %}{% now "F" as month %}
<meta name="description" content="{% if cat_title.metadescription %} {{ cat_title.metadescription }} {% else %}Ищете {{ cat_title.title }} под строительство? Предлагаем изучить фасады, фото, планировки этажей. Различные варианты {{ cat_title.title }} за {{ month }} {{ year }} года: с террасой, с гаражом, мастер спальня, второй свет.{% endif %}">{% endblock %}
{% block seo_schema %}
{% now "Y" as year %}
{% now "E" as month %}
<meta name="keywords" content="{{ cat_title.title|title }} {{request.site.name}}, {% if category_children %}{% for item in category_children %}{{ item.title }}, {% endfor %}{% else %}{% for item in category_descendants %}{{ item.title }}, {% endfor %}{% endif %}">
<meta name="robots" content="index, follow">

<link rel="canonical" href="https://{{ request.get_host }}{{ cat_title.get_absolute_url }}">


<meta property="og:url" content="{{ cat_title.get_absolute_url }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{% if cat_title.metatitle %} {{ cat_title.metatitle }} {% else %} {{ cat_title.title|title }} Коттеджей - (Планировки, Фото, Цены {{ year }}) {% endif %}">
<meta property="og:image" content="{{ object.image.url }}">
<meta property="og:description" content="{% if cat_title.metadescription %} {{ cat_title.metadescription }} {% else %}Ищете {{ cat_title.title }} под строительство? Предлагаем изучить фасады, фото, планировки этажей. Различные варианты {{ cat_title.title }} за {{ month }} {{ year }} года: с террасой, с гаражом, мастер спальня, второй свет.{% endif %}">
<meta property="og:site_name" content="{{ request.get_host }}">

<script async src="https://aflt.market.yandex.ru/widget/script/api"></script>


<script type="application/ld+json"> {"@context": "https://schema.org","@type": "BreadcrumbList","itemListElement": [{"@type": "ListItem","position": 0,"name": "Главная","item": "https://{{ request.get_host }}"},{% for category in category_bread_crumbs %}{"@type": "ListItem","position": {{ forloop.counter }},"name": "{{ category.title }}","item": "https://{{ request.get_host }}{{ category.get_absolute_url }}"} {% if forloop.last %}{% else %},{% endif %}{% endfor %}]}</script>
{% comment %}
<script type="application/ld+json">{"@context": "https://schema.org","@type": "ItemList","url": "https://{{ request.get_host }}{{ cat_title.get_absolute_url }}","numberOfItems": "{{ totalItems.page.totalItems }}","itemListElement": [{% for item in market %} { "@type": "Product", "image": "{{ item.offer.photo.url }}", "url": "{{ item.offer.url|cut:'https://pokupki.market.yandex.ru' }}", "name": "{{ item.name|cut:'&#34;'|cut:',' }}","description": "{{ item.offer.description|safe|cut:'\n'|cut:'&#34;' }}","sku": "{{ item.offer.sku }}", "offers": { "@type": "Offer", "price": "{% if item.price.min %}{{ item.price.min|floatformat:0 }} ₽{% else %}{{ item.offer.price.value|floatformat:0 }} ₽{% endif %}"}}{% if forloop.last %}{% else %},{% endif %}{% endfor %}]}</script>
{% endcomment %}

{% endblock %}


{% block body_type %}
<body class="shop-page sidebar-filter shop-masonry-grid-page">
	{% endblock %}
	
	{% block under_search_form_area %}
	{% autoescape off %}
	{{ cat_title.tag_tiling_search }}
	{% endautoescape %}
	{% endblock under_search_form_area %}
	{% block breadcrumbs %}
	
	
	
	
	
	{% endblock breadcrumbs %}
	{% block content %}
	{% now "Y" as year %}{% now "E" as month %}
	
	{% if user.is_authenticated %}{% endif %}
	
	
	
	
	<div id="page-content"> 
		
		<div class="page-header text-center">
			<div class="container">
				<div class="row">
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-between align-items-center">
						<div class="breadcrumbs">
							<a href="/">Главная</a>
							{% for category in category_bread_crumbs %}
							<span class="title">
								<i class="icon anm anm-angle-right-l"></i>
								<a href="{{ category.get_absolute_url }}">{{ category.title }}</a>
							</span>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		
		
		<div class="container">
			
			<div class="section-header">
				<h1>{{ cat_title.title|title }}</h1>
			</div>
			
			
			
			
			
			
			
			<div class="toolbar toolbar-wrapper shop-toolbar">
				<div class="row align-items-center">
					<div class="col-4 col-sm-2 col-md-4 col-lg-4 text-left filters-toolbar-item d-flex order-1 order-sm-0">
						<button type="button" class="btn btn-filter text icon anm anm-sliders-hr d-inline-flex me-2 me-lg-3"> Фильтр</button>                                
					</div>
					<div class="col-12 col-sm-4 col-md-4 col-lg-4 text-center product-count order-0 order-md-1 mb-3 mb-sm-0">
						
					</div>
					
					<div class="col-8 col-sm-6 col-md-4 col-lg-4 text-right filters-toolbar-item d-flex justify-content-end order-2 order-sm-2">
						
						<div class="filters-item d-flex align-items-center ms-2 ms-lg-3">
							<label for="SortBy" class="mb-0 me-2 text-nowrap d-none">Сортировать:</label>
							<select name="SortBy" id="SortBy" class="filters-toolbar-sort">
								<option value="featured" selected="selected">По популярности</option>
								<option value="best-selling">Сначала самые дешевые</option>
								<option value="title-ascending">Сначала дорогие</option>
								<option value="title-descending">По наименованию</option>
								<option value="price-ascending">Площадь по возрастанию</option>
								<option value="price-descending">Площадь по убыванию</option>
								<option value="Сбросить">Сбросить</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			
			
			<div class="row">
				
				<div class="col-12 col-sm-12 col-md-12 col-lg-3 sidebar sidebar-bg filterbar">
					<div class="closeFilter"><i class="icon anm anm-times-r"></i></div>
					<div class="sidebar-tags clearfix">
						
						
						<div class="sidebar-widget filterBox filter-widget">
							<div class="widget-title h2">По размеру </div>
							<div class="widget-content filter-size filterDD">
								<ul class="swacth-list size-swatches d-flex-center clearfix">
									
									<li class="swatch large radius available"><a target="_blank" class="swatchLbl" href="/search/?q={{ cat_title.title|urlencode }}%206x6">6x6</a></li>
									<li class="swatch large radius available"><a target="_blank" class="swatchLbl" href="/search/?q={{ cat_title.title|urlencode }}%206x7">6x7</a></li>
									<li class="swatch large radius available"><a target="_blank" class="swatchLbl" href="/search/?q={{ cat_title.title|urlencode }}%206x8">6x8</a></li>
									<li class="swatch large radius available"><a target="_blank" class="swatchLbl" href="/search/?q={{ cat_title.title|urlencode }}%206x9">6x9</a></li>
									<li class="swatch large radius available"><a target="_blank" class="swatchLbl" href="/search/?q={{ cat_title.title|urlencode }}%206x10">6x10</a></li>
									<li class="swatch large radius available"><a target="_blank" class="swatchLbl" href="/search/?q={{ cat_title.title|urlencode }}%207x7">7x7</a></li>
									<li class="swatch large radius available"><a target="_blank" class="swatchLbl" href="/search/?q={{ cat_title.title|urlencode }}%207x8">7x8</a></li>
									<li class="swatch large radius available"><a target="_blank" class="swatchLbl" href="/search/?q={{ cat_title.title|urlencode }}%207x9">7x9</a></li>
									<li class="swatch large radius available"><a target="_blank" class="swatchLbl" href="/search/?q={{ cat_title.title|urlencode }}%207x10">7x10</a></li>
									<li class="swatch large radius available"><a target="_blank" class="swatchLbl" href="/search/?q={{ cat_title.title|urlencode }}%208x8">8x8</a></li>
									<li class="swatch large radius available"><a target="_blank" class="swatchLbl" href="/search/?q={{ cat_title.title|urlencode }}%208x9">8x9</a></li>
									<li class="swatch large radius available"><a target="_blank" class="swatchLbl" href="/search/?q={{ cat_title.title|urlencode }}%208x10">8x10</a></li>
									<li class="swatch large radius available"><a target="_blank" class="swatchLbl" href="/search/?q={{ cat_title.title|urlencode }}%208x11">8x11</a></li>
									<li class="swatch large radius available"><a target="_blank" class="swatchLbl" href="/search/?q={{ cat_title.title|urlencode }}%208x12">8x12</a></li>
									<li class="swatch large radius available"><a target="_blank" class="swatchLbl" href="/search/?q={{ cat_title.title|urlencode }}%208x14">8x14</a></li>
									<li class="swatch large radius available"><a target="_blank" class="swatchLbl" href="/search/?q={{ cat_title.title|urlencode }}%209x9">9x9</a></li>
									<li class="swatch large radius available"><a target="_blank" class="swatchLbl" href="/search/?q={{ cat_title.title|urlencode }}%209x10">9x10</a></li>
									<li class="swatch large radius available"><a target="_blank" class="swatchLbl" href="/search/?q={{ cat_title.title|urlencode }}%209x11">9x11</a></li>
									<li class="swatch large radius available"><a target="_blank" class="swatchLbl" href="/search/?q={{ cat_title.title|urlencode }}%209x12">9x12</a></li>
									<li class="swatch large radius available"><a target="_blank" class="swatchLbl" href="/search/?q={{ cat_title.title|urlencode }}%209x13">9x13</a></li>
									<li class="swatch large radius available"><a target="_blank" class="swatchLbl" href="/search/?q={{ cat_title.title|urlencode }}%209x14">9x14</a></li>
									<li class="swatch large radius available"><a target="_blank" class="swatchLbl" href="/search/?q={{ cat_title.title|urlencode }}%2010x10">10x10</a></li>
									<li class="swatch large radius available"><a target="_blank" class="swatchLbl" href="/search/?q={{ cat_title.title|urlencode }}%2010x11">10x11</a></li>
									<li class="swatch large radius available"><a target="_blank" class="swatchLbl" href="/search/?q={{ cat_title.title|urlencode }}%2010x12">10x12</a></li>
									<li class="swatch large radius available"><a target="_blank" class="swatchLbl" href="/search/?q={{ cat_title.title|urlencode }}%2010x13">10x13</a></li>
									<li class="swatch large radius available"><a target="_blank" class="swatchLbl" href="/search/?q={{ cat_title.title|urlencode }}%2010x14">10x14</a></li>
									<li class="swatch large radius available"><a target="_blank" class="swatchLbl" href="/search/?q={{ cat_title.title|urlencode }}%2010x15">10x15</a></li>
									<li class="swatch large radius available"><a target="_blank" class="swatchLbl" href="/search/?q={{ cat_title.title|urlencode }}%2011x9">11x9</a></li>
									<li class="swatch large radius available"><a target="_blank" class="swatchLbl" href="/search/?q={{ cat_title.title|urlencode }}%2011x11">11x11</a></li>
									<li class="swatch large radius available"><a target="_blank" class="swatchLbl" href="/search/?q={{ cat_title.title|urlencode }}%2011x13">11x13</a></li>
									<li class="swatch large radius available"><a target="_blank" class="swatchLbl" href="/search/?q={{ cat_title.title|urlencode }}%2011x14">11x14</a></li>
									<li class="swatch large radius available"><a target="_blank" class="swatchLbl" href="/search/?q={{ cat_title.title|urlencode }}%2011x15">11x15</a></li>
									<li class="swatch large radius available"><a target="_blank" class="swatchLbl" href="/search/?q={{ cat_title.title|urlencode }}%2012x12">12x12</a></li>
									<li class="swatch large radius available"><a target="_blank" class="swatchLbl" href="/search/?q={{ cat_title.title|urlencode }}%2012x13">12x13</a></li>
									<li class="swatch large radius available"><a target="_blank" class="swatchLbl" href="/search/?q={{ cat_title.title|urlencode }}%2012x14">12x14</a></li>
									<li class="swatch large radius available"><a target="_blank" class="swatchLbl" href="/search/?q={{ cat_title.title|urlencode }}%2012x15">12x15</a></li>
									<li class="swatch large radius available"><a target="_blank" class="swatchLbl" href="/search/?q={{ cat_title.title|urlencode }}%2013x13">13x13</a></li>
									<li class="swatch large radius available"><a target="_blank" class="swatchLbl" href="/search/?q={{ cat_title.title|urlencode }}%2013x14">13x14</a></li>
									<li class="swatch large radius available"><a target="_blank" class="swatchLbl" href="/search/?q={{ cat_title.title|urlencode }}%2013x19">13x19</a></li>
									<li class="swatch large radius available"><a target="_blank" class="swatchLbl" href="/search/?q={{ cat_title.title|urlencode }}%2014x15">14x15</a></li>
									<li class="swatch large radius available"><a target="_blank" class="swatchLbl" href="/search/?q={{ cat_title.title|urlencode }}%2014x18">14x18</a></li>
									<li class="swatch large radius available"><a target="_blank" class="swatchLbl" href="/search/?q={{ cat_title.title|urlencode }}%2014x20">14x20</a></li>
									<li class="swatch large radius available"><a target="_blank" class="swatchLbl" href="/search/?q={{ cat_title.title|urlencode }}%2016x17">16x17</a></li>
									<li class="swatch large radius available"><a target="_blank" class="swatchLbl" href="/search/?q={{ cat_title.title|urlencode }}%2019x18">19x18</a></li>
									<li class="swatch large radius available"><a target="_blank" class="swatchLbl" href="/search/?q={{ cat_title.title|urlencode }}%2020x17">20x17</a></li>
									<li class="swatch large radius available"><a target="_blank" class="swatchLbl" href="/search/?q={{ cat_title.title|urlencode }}%2024x20">24x20</a></li>
								</ul>
							</div>
						</div>
						
						<div class="sidebar-widget clearfix categories filterBox filter-widget">
							<div class="widget-title h2">Проекты домов</div>
							<div class="widget-content filterDD">
								<ul class="sidebar-categories scrollspy morelist clearfix">
									{% if category_children %}
									{% for item in category_children %}
									<li class="lvl1 more-item"><a href="{{ item.get_absolute_url }}" class="site-nav">{{ item.menutitle|default:item.title|title }} </a></li>
									{% endfor %}
									{% else %}
									{% for item in category_descendants %}
									<li class="lvl1 more-item"><a href="{{ item.get_absolute_url }}" class="site-nav">{{ item.menutitle|default:item.title|title }} </a></li>
									{% endfor %}
									{% endif %}
								</ul>
							</div>
						</div>
						
						<div class="sidebar-widget filterBox filter-widget product-tag">
							<div class="widget-title h2">Этажность</div>
							<div class="widget-content filterDD">
								<ul class="tags-list product-tags d-flex-wrap clearfix">
									
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Одноэтажные">Одноэтажные</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Двухэтажные">Двухэтажные</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20С%20мансардой">С мансардой</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Полутораэтажные">Полутораэтажные</a>
									</li>
									
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Трехэтажные">Трехэтажные</a>
									</li>
									
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Любые">Любые</a>
									</li>
									
								</ul>
								<span class="btn btn-sm brd-link btnview">Все</span> 
							</div>
						</div>
						
						<div class="sidebar-widget filterBox filter-widget product-tag">
							<div class="widget-title h2">Материал</div>
							<div class="widget-content filterDD">
								<ul class="tags-list product-tags d-flex-wrap clearfix">
									
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Из%20Sip-Панелей">Из Sip-Панелей</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Керамзитобетонные">Керамзитобетонные</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Из%20Керамоблока">Из Керамоблока</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Оцилиндрованное%20Бревно">Оцилиндрованное Бревно</a>
									</li>
									
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Трехэтажные">Трехэтажные</a>
									</li>
									
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Пенобетонные">Пенобетонные</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Полистиролбетон">Полистиролбетон</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Теплоблок">Теплоблок</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Арболитовые">Арболитовые</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Панельные">Панельные</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Профилированный%20Брус">Профилированный Брус</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Щитовые">Щитовые</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Бетон">Бетон</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Имитация%20Бруса">Имитация Бруса</a>
									</li>
									
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Из%20ячеистого%20бетона">Из ячеистого бетона</a>
									</li>
									
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Теплая%20керамика">Теплая керамика</a>
									</li>
									
								</ul>
								<span class="btn btn-sm brd-link btnview">Все</span> 
							</div>
						</div>
						
						
						<div class="sidebar-widget filterBox filter-widget product-tag">
							<div class="widget-title h2">Площадь постройки </div>
							<div class="widget-content filterDD">
								<ul class="tags-list product-tags d-flex-wrap clearfix">
									
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20До%20100%20кв.%20м">До 100 кв. м</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20До%20120%20кв.м">До 120 кв.м</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20До%20150%20кв.м">До 150 кв.м</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20100-150%20кв.м">100-150 кв. м</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20От%20150%20кв.м">От 150 кв.м</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Более%20200%20кв.м">Более 200 кв. м</a>
									</li>
									
								</ul>
								<span class="btn btn-sm brd-link btnview">Все</span> 
							</div>
						</div>
						
						<div class="sidebar-widget filterBox filter-widget product-tag">
							<div class="widget-title h2">Назначение</div>
							<div class="widget-content filterDD">
								<ul class="tags-list product-tags d-flex-wrap clearfix">
									
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Для%20постоянного%20проживания">Для постоянного проживания</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Дачные">Дачные</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Беседки">Беседки</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Таунхаусы">Таунхаусы</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Многоквартирные">Многоквартирные</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Многоэтажные">Многоэтажные</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Коммерческие">Коммерческие</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Бюджетные">Бюджетные</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20эконом">Эконом</a>
									</li>
									
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Особняк">Особняк</a>
									</li>
									
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Высотный">Высотный</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Угловой">Угловой </a>
									</li>
									
								</ul>
								<span class="btn btn-sm brd-link btnview">Все</span> 
							</div>
						</div>
						
						<div class="sidebar-widget filterBox filter-widget product-tag">
							<div class="widget-title h2">Пристрой</div>
							<div class="widget-content filterDD">
								<ul class="tags-list product-tags d-flex-wrap clearfix">
									
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20С%20террасой">С террасой</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20С%20верандой">С верандой</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20С%20балконом">С балконом</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20С%20эркером">С эркером</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20С%20котельной">С котельной</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20С%20санузлом">С санузлом</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20С%20гаражом">С гаражом</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20С%20баней">С баней</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Хозблок">Хозблок</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Зона%20Барбекю">Зона Барбекю</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Подземный%20Гараж">Подземный Гараж</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Тренажерный%20Зал">Тренажерный Зал</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Бильярдная">Бильярдная</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Лоджия">Лоджия</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Хозяйственная%20Пристройка">Хозяйственная Пристройка</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20С%20Прачечной">С Прачечной</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Спортзал">Спортзал</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Чердак">Чердак</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Сарай">Сарай</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Конюшня">Конюшня</a>
									</li>
									
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Амбар">Амбар</a>
									</li>
									
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Ангар">Ангар</a>
									</li>
									
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Домик">Домик</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Флигель">Флигель </a>
									</li>
									
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Хижина">Хижина </a>
									</li>
									
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Мезонин">Мезонин </a>
									</li>
									
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Барак">Барак </a>
									</li>
									
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Таверна">Таверна </a>
									</li>
									
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Церквушка">Церквушка </a>
									</li>
									
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Халупа">Халупа </a>
									</li>
									
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Вагон">Вагон </a>
									</li>
									
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Сооружение">Сооружение </a>
									</li>
									
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Каюта">Каюта </a>
									</li>
									
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Кабинет">Кабинет </a>
									</li>
									
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Салон">Салон </a>
									</li>
									
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Подъезд">Подъезд </a>
									</li>
									
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Лавка">Лавка</a>
									</li>
									
								</ul>
								<span class="btn btn-sm brd-link btnview">Все</span> 
							</div>
						</div>
						
						<div class="sidebar-widget filterBox filter-widget">
							<div class="widget-title h2">Количество комнат</div>
							<div class="widget-content filter-size filterDD">
								<ul class="swacth-list size-swatches d-flex-center clearfix">
									<li class="swatch large radius available">
										<a target="_blank" class="swatchLbl" href="/search/?q={{ cat_title.title|urlencode }}%201%20комнат">1</a>
									</li>
									<li class="swatch large radius available">
										<a target="_blank" class="swatchLbl" href="/search/?q={{ cat_title.title|urlencode }}%202%20комнат">2</a>
									</li>
									<li class="swatch large radius available">
										<a target="_blank" class="swatchLbl" href="/search/?q={{ cat_title.title|urlencode }}%203%20комнат">3</a>
									</li>
									<li class="swatch large radius available">
										<a target="_blank" class="swatchLbl" href="/search/?q={{ cat_title.title|urlencode }}%204%20комнат">4</a>
									</li>
									<li class="swatch large radius available">
										<a target="_blank" class="swatchLbl" href="/search/?q={{ cat_title.title|urlencode }}%205%20комнат">5</a>
									</li>
									<li class="swatch large radius available">
										<a target="_blank" class="swatchLbl" href="/search/?q={{ cat_title.title|urlencode }}%206%20комнат">6</a>
									</li>
									<li class="swatch large radius available">
										<a target="_blank" class="swatchLbl" href="/search/?q={{ cat_title.title|urlencode }}%207%20комнат">7</a>
									</li>
									<li class="swatch large radius available">
										<a target="_blank" class="swatchLbl" href="/search/?q={{ cat_title.title|urlencode }}%208%20комнат">8</a>
									</li>
									<li class="swatch large radius available">
										<a target="_blank" class="swatchLbl" href="/search/?q={{ cat_title.title|urlencode }}%209%20комнат">9</a>
									</li>
									
								</ul>
							</div>
						</div>
						
						<div class="sidebar-widget filterBox filter-widget">
							<div class="widget-title h2">Количество спален</div>
							<div class="widget-content filter-size filterDD">
								<ul class="swacth-list size-swatches d-flex-center clearfix">
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20С%201%20спальней">Одна</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20С%202%20спальнями">Две</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20С%203%20спальнями">Три</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20С%204%20спальнями">Четыре</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20С%204%20спальнями">Пять</a>
									</li>
									
									
								</ul>
							</div>
						</div>
						
						
						
						
						<div class="sidebar-widget filterBox filter-widget product-tag">
							<div class="widget-title h2">Комплектация</div>
							<div class="widget-content filterDD">
								<ul class="tags-list product-tags d-flex-wrap clearfix">
									
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Зимние">Зимние</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Летние">Летние</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Сезонные">Сезонные</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Финские">Финские</a>
									</li>
									
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20С%20подключением%20сетей">С подключением сетей</a>
									</li>
									
									
									
								</ul>
								<span class="btn btn-sm brd-link btnview">Все</span> 
							</div>
						</div>
						
						<div class="sidebar-widget filterBox filter-widget product-tag">
							<div class="widget-title h2">Другие параметры</div>
							<div class="widget-content filterDD">
								<ul class="tags-list product-tags d-flex-wrap clearfix">
									
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Красивые">Красивые</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Загородные">Загородные</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Типовые">Типовые</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Быстровозводимые">Быстровозводимые</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Частные">Частные</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Гостевые">Гостевые</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Качественные">Качественные</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Элитные">Элитные</a>
									</li>
									
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Недорогие">Недорогие</a>
									</li>
									
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Каменные">Каменные</a>
									</li>
									
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Бревенчатые">Бревенчатые</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Монолит">Монолит</a>
									</li>
									
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Фронтон">Фронтон</a>
									</li>
									
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Коридор">Коридор</a>
									</li>
									
									
									
									
								</ul>
								<span class="btn btn-sm brd-link btnview">Все</span> 
							</div>
						</div>
						<div class="sidebar-widget filterBox filter-widget product-tag">
							<div class="widget-title h2">Габариты</div>
							<div class="widget-content filterDD">
								<ul class="tags-list product-tags d-flex-wrap clearfix">
									
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Большие">Большие</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Маленькие">Маленькие</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Деревня">Деревня</a>
									</li>
									
								</ul>
								<span class="btn btn-sm brd-link btnview">Все</span> 
							</div>
						</div>
						
						<div class="sidebar-widget filterBox filter-widget product-tag">
							<div class="widget-title h2">Форма</div>
							<div class="widget-content filterDD">
								<ul class="tags-list product-tags d-flex-wrap clearfix">
									
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Квадратные">Квадратные</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Прямоугольные">Прямоугольные</a>
									</li>
								</ul>
								<span class="btn btn-sm brd-link btnview">Все</span> 
							</div>
						</div>
						<div class="sidebar-widget filterBox filter-widget product-tag">
							<div class="widget-title h2">Особенности</div>
							<div class="widget-content filterDD">
								<ul class="tags-list product-tags d-flex-wrap clearfix">
									
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20С%20панорамными%20окнами">С панорамными окнами</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Со%20вторым%20светом">Второй свет</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Коттеджи">Коттеджи</a>
									</li>
									
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Вилла">Вилла</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20С%20плоской%20крышей">С плоской крышей</a>
									</li>
									
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20С%20двускатной%20крышей">С двускатной крышей</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20С%20камином">С камином</a>
									</li>
									
									
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Для%20узких%20участков">Для узких земельных участков</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Огородик">Огородик</a>
									</li>
									
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20С%20цоколем">Цоколь</a>
									</li>
									
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Полуподвал">Полуподвал</a>
									</li>
									
									
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Гостиница">Гостиница</a>
									</li>
									
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Пляж">Пляж</a>
									</li>
									
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Магазинчик">Магазинчик</a>
									</li>
									
									
								</ul>
								<span class="btn btn-sm brd-link btnview">Все</span> 
							</div>
						</div>
						<div class="sidebar-widget filterBox filter-widget product-tag">
							<div class="widget-title h2">Архитектурный стиль</div>
							<div class="widget-content filterDD">
								<ul class="tags-list product-tags d-flex-wrap clearfix">
									
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Американские">Американский</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Европейские">Европейский</a>
									</li>								
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Английские">Английский</a>
									</li>
									
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Немецкие">Немецкий</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Классические">Классический</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Скандинавские">Скандинавский</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Норвежские">Норвежский</a>
									</li>
									
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Современные">Современный</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Минимализм">Минимализм</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Прованс">Прованс</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Шале">Шале</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Шведские">Шведский</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Фахверк">Фахверк</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Модерн">Модерн</a>
									</li>
									
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Барн">Барн</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Викторианский">Викторианский</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Лофт">Лофт</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Хайтек">Хайтек</a>
									</li>
									
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Барин">Барин</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Готический">Готический</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Дворцовый">Дворцовый</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Испанском">Испанском</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Итальянский">Итальянский</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Канадский">Канадский</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Средиземноморский">Средиземноморский</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Барокко">Барокко</a>
									</li>
									
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Замковый">Замковый</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Кантри">Кантри</a>
									</li>
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Маршала">Маршала </a>
									</li>
									
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Стиль%20Райта">Стиль Райта </a>
									</li>
									
									<li class="item">
										<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Барский">Барский </a>
									</li>
									
									
									
								</ul>
							
							<span class="btn btn-sm brd-link btnview">Все</span> 
						</div>
					</div>
					
					
					
					
					
					
					<div class="sidebar-widget filterBox filter-widget product-tag">
						<div class="widget-title h2">Кровля</div>
						<div class="widget-content filterDD">
							<ul class="tags-list product-tags d-flex-wrap clearfix">
								
								<li class="item">
									<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20С%20Вальмовой%20Кровлей">С Вальмовой Кровлей</a>
								</li>
								<li class="item">
									<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Г-Образная">Г-Образная</a>
								</li>
								<li class="item">
									<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Многоскатная">Многоскатная</a>
								</li>
								<li class="item">
									<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Ондулин">Ондулин</a>
								</li>
								<li class="item">
									<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Купольная">Купольная</a>
								</li>
								<li class="item">
									<a target="_blank" class="rounded-5" href="/search/?q={{ cat_title.title|urlencode }}%20Утепленная">Утепленная</a>
								</li>
							</ul>
							<span class="btn btn-sm brd-link btnview">Все</span> 
						</div>
					</div>
					
					
					
					
					<div class="sidebar-widget filterBox filter-widget">
						<div class="widget-title h2">Цена</div>
						<form class="widget-content price-filter filterDD" action="#" method="post">
							<div id="slider-range" class="mt-2"></div>
							<div class="row">
								<div class="col-6"><input id="amount" type="text" /></div>
								<div class="col-6 text-right"><button class="btn btn-sm">Применить</button></div>
							</div>
						</form>
					</div>
					
				</div>
			</div>
			
			
			<div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col">
				
				<div class="lookbook-masonary grid-mr-20">
					
					<div class="grid-masonary">
						<div class="grid-sizer col-12 col-sm-6 col-md-6 col-lg-4"></div>                    
						<div class="lookbook-grid row m-0">
							{% for item in object_list %}
							<div class="lookbook-item col-12 col-sm-6 col-md-6 col-lg-4 col-item zoomscal-hov masonary-item">
								<div class="lookbook-inner rounded-0">
									
									<a class="zoom rounded-0 d-block zoom-scal zoom-scal-nopb" href="{{ item.get_absolute_url }}">
										<span class="zoom-img zoom"><i class="icon anm anm-search-plus-l"></i></span>
										
										{% if item.image %}
										<img class="rounded-0 blur-up lazyload w-100" data-src="{{ item.image.url }}" src="{{ item.image.url }}" alt="{{ item.title }}" width="420" height="360" />
										{% else %}											
										<img class="rounded-0 blur-up lazyload" data-src="/static/img/noimage.jpg" src="/static/img/noimage.jpg" alt="{{ item.title }}" width="420" height="360" />											
										{% endif %}
										
									</a>
									<div class="lookbook-caption d-flex-justify-center black">
										<a href="{{ item.get_absolute_url }}" class="content clr-none d-block">  
											
											<span class="text-1 mb-0 h4">{{ item.title|safe }}</span>                                    
										</a>  
									</div>
								</div>
							</div>
							{% if forloop.counter|divisibleby:4 %}
							<div class="lookbook-item topView col-12 col-sm-6 col-md-6 col-lg-4 col-item zoomscal-hov masonary-item">
								<div id="yandex_rtb_R-A-2363917-2-{{ forloop.counter }}" style="height:300px"></div>
								<script>window.yaContextCb.push(()=>{
									Ya.Context.AdvManager.render({
										renderTo: 'yandex_rtb_R-A-2363917-2-{{ forloop.counter }}',
										blockId: 'R-A-2363917-2',
										pageNumber: {{ forloop.counter }}
									})
								})</script>
							</div>
							{% endif %}
							{% endfor %}
							
							
							
							
							
							
						</div>
					</div>
					
				</div>
				<div class="my-3" id="yandex_rtb_R-A-2363917-2-53" style="height:300px"></div>
				<script>window.yaContextCb.push(()=>{
					Ya.Context.AdvManager.render({
						renderTo: 'yandex_rtb_R-A-2363917-2-53',
						blockId: 'R-A-2363917-2',
						pageNumber: 53
					})
				})</script>
				<nav class="clearfix pagination-bottom">
					<ul class="pagination justify-content-center">
						{% if page_obj.has_previous %}
						<li class="page-item disabled"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"><i class="icon anm anm-angle-left-l"></i></a></li>
						{% endif %}
						<li class="page-item active"><a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }} </a></li>
						
						{% if page_obj.has_next %}
						<li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}"><i class="icon anm anm-angle-right-l"></i></a></li>
						{% endif %}
					</ul>
				</nav>
				
				
				
			</div>
			
		</div>
		
		
		
	</div>
	
</div>



{% endblock content %}						