<div class="collapse show" id="collapse_aside1">
	<div class="card-body">
		
		<nav class="nav-home-aside">
			<ul class="menu-category">
				<li class="has-submenu"><a href="/c/avtotovary/">Автотовары</a>
					<li><a href="/c/avto-akkumulyatory/">Авто аккумуляторы</a></li>
					<li><a href="/c/avtomobilnaya-audio-i-videotekhnika/">Автомобильная аудио- и видеотехника</a></li>
					<li><a href="/c/avtomobilnye-instrumenty/">Автомобильные инструменты</a></li>
					<li><a href="/c/avtomobilnye-protivougonnye-ustroystva/">Автомобильные противоугонные устройства</a></li>
					<li><a href="/c/avtomobilnye-shiny-i-diski/">Автомобильные шины и диски</a></li>
					<li><a href="/c/avtokhimiya-i-avtokosmetika/">Автохимия и автокосметика</a></li>
					<li><a href="/c/avtoelektronika/">Автоэлектроника</a></li>
					<li><a href="/c/aksessuary-i-oborudovanie-dlya-avtomobilya/">Аксессуары и оборудование для автомобиля</a></li>
					<li><a href="/c/zapchasti-dlya-avto-i-mototekhniki/">Запчасти для авто- и мототехники</a></li>
					<li><a href="/c/masla-i-tekhnicheskie-zhidkosti-dlya-avtomobiley/">Масла и технические жидкости для автомобилей</a></li>
					<li><a href="/c/mototekhnika/">Мототехника</a></li>
					<li><a href="/c/oborudovanie-dlya-avtoservisov/">Оборудование для автосервисов</a></li>
					<li><a href="/c/transport-i-spetstekhnika/">Транспорт и спецтехника</a></li>
				</li>
				<li class="has-submenu"><a href="/c/apteka/">Аптека</a></li>
				<li class="has-submenu"><a href="/c/bytovaya-tekhnika/">Бытовая техника</a></li>
				<li class="has-submenu"><a href="/c/bytovaya-khimiya/">Бытовая химия</a></li>
				<li class="has-submenu"><a href="/c/vse-dlya-geyminga/">Все для гейминга</a></li>
				<li class="has-submenu"><a href="/c/gigiena/">Гигиена</a></li>
				<li class="has-submenu"><a href="/c/dacha-i-sad/">Дача и сад</a></li>
				<li class="has-submenu"><a href="/c/detskie-tovary/">Детские товары</a></li>
				<li class="has-submenu"><a href="/c/dlya-shkoly-i-ofisa/">Для школы и офиса</a></li>
				<li class="has-submenu"><a href="/c/zootovary/">Зоотовары</a></li>
				<li class="has-submenu"><a href="/c/mebel/">Мебель</a></li>
				<li class="has-submenu"><a href="/c/noutbuki-i-kompyutery/">Ноутбуки и компьютеры</a></li>
				<li class="has-submenu"><a href="/c/oborudovanie/">Оборудование</a></li>
				<li class="has-submenu"><a href="/c/odezhda-i-obuv/">Одежда и обувь</a></li>
				<li class="has-submenu"><a href="/c/optika/">Оптика</a></li>
				<li class="has-submenu"><a href="/c/produkty-pitaniya/">Продукты питания</a></li>
				<li class="has-submenu"><a href="/c/sport-i-otdykh/">Спорт и отдых</a></li>
				<li class="has-submenu"><a href="/c/stroitelstvo-i-remont/">Строительство и ремонт</a></li>
				<li class="has-submenu"><a href="/c/tovary-dlya-doma/">Товары для дома</a></li>
				<li class="has-submenu"><a href="/c/tovary-dlya-krasoty/">Товары для красоты</a></li>
				<li class="has-submenu"><a href="/c/tovary-ikea/">Товары ИКЕА</a></li>
				<li class="has-submenu"><a href="/c/umnye-kolonki/">Умные колонки</a></li>
				<li class="has-submenu"><a href="/c/khobbi-i-tvorchestvo/">Хобби и творчество</a></li>
				<li class="has-submenu"><a href="/c/tsvety/">Цветы</a></li>
				<li class="has-submenu"><a href="/c/tsifrovye-tovary/">Цифровые товары</a></li>
				<li class="has-submenu"><a href="/c/elektronika/">Электроника</a></li>
				<li class="has-submenu"><a href="/c/yuvelirnye-ukrasheniya/">Ювелирные украшения</a></li>
				
			</ul>
			
			
		</nav>
		
		
		
		
	</div>
</div>