<div class="ps-block--shop-features">
	<div class="ps-block__header">
		<h3>Снегоуборщики в {{ object.title }}</h3>
		
		<div class="ps-block__navigation">
			<a class="ps-carousel__prev" href="#recommended"><i class="icon-chevron-left"></i></a>
			<a class="ps-carousel__next" href="#recommended"><i class="icon-chevron-right"></i></a>
		</div>
	</div>
	
	<div class="accordion" id="accordionExample">
		<div class="card">
			<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#doors1" aria-expanded="false" aria-controls="collapseTwo" id="accordionExample">
				<i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
			</button>
			<div id="doors1" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
				<div class="card-body">
					<p>В каталоге товаров для уборки снега по состоянию на начало {{ month }} {{ year }} года обновлен ассортимент и снижены цены на снегоуборщики: {% for item in snegoubor %}{{ item.title }}, {% endfor %}.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="ps-block__content">
		<div class="owl-slider" id="recommended" data-owl-auto="true" data-owl-loop="true" data-owl-speed="10000" data-owl-gap="30" data-owl-nav="false" data-owl-dots="false" data-owl-item="5" data-owl-item-xs="2" data-owl-item-sm="2" data-owl-item-md="3" data-owl-item-lg="4" data-owl-item-xl="4" data-owl-duration="1000" data-owl-mousedrag="on">
			{% for item in snegoubor %}
			<div class="ps-product">
				<div class="ps-product__thumbnail">
					<a href="{{ item.get_absolute_url }}">
						{% if item.image %}
						<img src="{{ item.image }}" alt="">
						{% else %}
						<img src="/static/img/noimage.jpg" alt="">
						{% endif %}
					</a>
					<ul class="ps-product__actions">
						<li><a data-toggle="tooltip" data-placement="top"><i class="icon-bag2"></i></a></li>
						<li><a data-placement="top"  data-toggle="modal" data-target="#product-quickview"><i class="icon-eye"></i></a></li>
						<li><a data-toggle="tooltip" data-placement="top"><i class="icon-heart"></i></a></li>
						<li><a data-toggle="tooltip" data-placement="top"><i class="icon-chart-bars"></i></a></li>
					</ul>
				</div>
				<div class="ps-product__container">
					<div class="ps-product__content">
						<a class="ps-product__title" href="{{ item.get_absolute_url }}">{{ item.title }}</a>
						<p class="ps-product__price">{% if item.price == 0 %}Обновление цен{% else %}{{ item.price|floatformat:0 }} ₽{% endif %}</p>
					</div>
					<div class="ps-product__content hover">
						<a class="ps-product__title" href="{{ item.get_absolute_url }}">{{ item.title }}</a>
						<p class="ps-product__price">{% if item.price == 0 %}Обновление цен{% else %}{{ item.price|floatformat:0 }} ₽{% endif %}
							<a class="ps-product__badge" href="{{ item.get_absolute_url }}">Купить</a>
						</p>
						<small><a href="{{ item.get_absolute_url }}">Каталог {{ object.title }}</a></small>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	
</div>	

<div id="yandex_rtb_R-A-2926917-6-21" style="height:300px" class="mb-2"></div>
<script>
	window.yaContextCb.push(()=>{
		Ya.Context.AdvManager.render({
			"blockId": "R-A-2926917-6",
			"renderTo": "yandex_rtb_R-A-2926917-6-21",
			"pageNumber": 21
		})
	})
</script>




<div class="ps-block--shop-features">
	<div class="ps-block__header">
		<h3>Лопаты для уборки снега</h3>
		<div class="ps-block__navigation">
			<a class="ps-carousel__prev" href="#recommended2"><i class="icon-chevron-left"></i></a>
			<a class="ps-carousel__next" href="#recommended2"><i class="icon-chevron-right"></i></a>
		</div>
	</div>
	<div class="accordion" id="accordionExample">
		<div class="card">
			<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#ny_igr" aria-expanded="false" aria-controls="collapseTwo" id="accordionExample">
				<i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
			</button>
			<div id="ny_igr" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
				<div class="card-body">
					<p>В каталоге зимних товаров интернет-магазина {{ object.title }} до конца {{ month }} {{ year }} года снижены цены на снеговые лопаты для уборки снега. Теперь купить со скидкой можно следующие снеговые лопаты и движки: {% for item in sneg_lopata %}{{ item.title }}, {% endfor %}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="ps-block__content">
		<div class="owl-slider" id="recommended2" data-owl-auto="true" data-owl-loop="true" data-owl-speed="10000" data-owl-gap="30" data-owl-nav="false" data-owl-dots="false" data-owl-item="5" data-owl-item-xs="2" data-owl-item-sm="2" data-owl-item-md="3" data-owl-item-lg="4" data-owl-item-xl="4" data-owl-duration="1000" data-owl-mousedrag="on">
			{% for item in sneg_lopata %}
			<div class="ps-product">
				<div class="ps-product__thumbnail">
					<a href="{{ item.get_absolute_url }}">
						{% if item.image %}
						<img src="{{ item.image }}" alt="">
						{% else %}
						<img src="/static/img/noimage.jpg" alt="">
						{% endif %}
					</a>
					<ul class="ps-product__actions">
						<li><a data-toggle="tooltip" data-placement="top"><i class="icon-bag2"></i></a></li>
						<li><a data-placement="top"  data-toggle="modal" data-target="#product-quickview"><i class="icon-eye"></i></a></li>
						<li><a data-toggle="tooltip" data-placement="top"><i class="icon-heart"></i></a></li>
						<li><a data-toggle="tooltip" data-placement="top"><i class="icon-chart-bars"></i></a></li>
					</ul>
				</div>
				<div class="ps-product__container">
					<div class="ps-product__content">
						<a class="ps-product__title" href="{{ item.get_absolute_url }}">{{ item.title }}</a>
						<p class="ps-product__price">{% if item.price == 0 %}Обновление цен{% else %}{{ item.price|floatformat:0 }} ₽{% endif %}</p>
					</div>
					<div class="ps-product__content hover">
						<a class="ps-product__title" href="{{ item.get_absolute_url }}">{{ item.title }}</a>
						<p class="ps-product__price">{% if item.price == 0 %}Обновление цен{% else %}{{ item.price|floatformat:0 }} ₽{% endif %}
							<a class="ps-product__badge" href="{{ item.get_absolute_url }}">Купить</a>
						</p>
						<small><a href="{{ item.get_absolute_url }}">Каталог {{ object.title }}</a></small>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	
</div>	

<div id="yandex_rtb_R-A-2926917-6-22" style="height:300px" class="mb-2"></div>
<script>
	window.yaContextCb.push(()=>{
		Ya.Context.AdvManager.render({
			"blockId": "R-A-2926917-6",
			"renderTo": "yandex_rtb_R-A-2926917-6-22",
			"pageNumber": 22
		})
	})
</script>

<div class="ps-block--shop-features">
	<div class="ps-block__header">
		<h3>Противогололедные реагенты</h3>
		
		<div class="ps-block__navigation">
			<a class="ps-carousel__prev" href="#recommended3"><i class="icon-chevron-left"></i></a>
			<a class="ps-carousel__next" href="#recommended3"><i class="icon-chevron-right"></i></a>
		</div>
	</div>

	<div class="accordion" id="accordionExample">
		<div class="card">
			<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#ny_girlyanda" aria-expanded="false" aria-controls="collapseTwo" id="accordionExample">
				<i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
			</button>
			<div id="ny_girlyanda" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
				<div class="card-body">
					<p> До конца {{ month }} {{ year }} года купить недорого можно следующие противогололедные реагенты: {% for item in gololed %}{{ item.title }}, {% endfor %} которые в каталоге товаров {{ object.title }} продаются со скидкой.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="ps-block__content">
		<div class="owl-slider" id="recommended3" data-owl-auto="true" data-owl-loop="true" data-owl-speed="10000" data-owl-gap="30" data-owl-nav="false" data-owl-dots="false" data-owl-item="5" data-owl-item-xs="2" data-owl-item-sm="2" data-owl-item-md="3" data-owl-item-lg="4" data-owl-item-xl="4" data-owl-duration="1000" data-owl-mousedrag="on">
			{% for item in gololed %}
			<div class="ps-product">
				<div class="ps-product__thumbnail">
					<a href="{{ item.get_absolute_url }}">
						{% if item.image %}
						<img src="{{ item.image }}" alt="">
						{% else %}
						<img src="/static/img/noimage.jpg" alt="">
						{% endif %}
					</a>
					<ul class="ps-product__actions">
						<li><a data-toggle="tooltip" data-placement="top"><i class="icon-bag2"></i></a></li>
						<li><a data-placement="top" data-toggle="modal" data-target="#product-quickview"><i class="icon-eye"></i></a></li>
						<li><a data-toggle="tooltip" data-placement="top"><i class="icon-heart"></i></a></li>
						<li><a data-toggle="tooltip" data-placement="top"><i class="icon-chart-bars"></i></a></li>
					</ul>
				</div>
				<div class="ps-product__container">
					<div class="ps-product__content">
						<a class="ps-product__title" href="{{ item.get_absolute_url }}">{{ item.title }}</a>
						<p class="ps-product__price">{% if item.price == 0 %}Обновление цен{% else %}{{ item.price|floatformat:0 }} ₽{% endif %}</p>
					</div>
					<div class="ps-product__content hover">
						<a class="ps-product__title" href="{{ item.get_absolute_url }}">{{ item.title }}</a>
						<p class="ps-product__price">{% if item.price == 0 %}Обновление цен{% else %}{{ item.price|floatformat:0 }} ₽{% endif %}
							<a class="ps-product__badge" href="{{ item.get_absolute_url }}">Купить</a>
						</p>
						<small><a href="{{ item.get_absolute_url }}">Каталог {{ object.title }}</a></small>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	
</div>	

<div id="yandex_rtb_R-A-2926917-6-23" style="height:300px" class="mb-2"></div>
<script>
	window.yaContextCb.push(()=>{
		Ya.Context.AdvManager.render({
			"blockId": "R-A-2926917-6",
			"renderTo": "yandex_rtb_R-A-2926917-6-23",
			"pageNumber": 23
		})
	})
</script>


<div class="ps-block--shop-features">
	<div class="ps-block__header">
		<h3>Ванны в {{ object.title }}</h3>
		
		<div class="ps-block__navigation">
			<a class="ps-carousel__prev" href="#recommended6"><i class="icon-chevron-left"></i></a>
			<a class="ps-carousel__next" href="#recommended6"><i class="icon-chevron-right"></i></a>
		</div>
	</div>

	<div class="accordion" id="accordionExample">
		<div class="card">
			<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#vanna" aria-expanded="false" aria-controls="collapseTwo" id="accordionExample">
				<i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
			</button>
			<div id="vanna" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
				<div class="card-body">
					<p> В каталоге сантехники интернет-магазина {{ object.title }} распродажа ванн:{% for item in vanna %}{{ item.title }}, {% endfor %} которые до конца {{ month }} {{ year }} года можно купить со скидкой и доставкий по России.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="ps-block__content">
		<div class="owl-slider" id="recommended6" data-owl-auto="true" data-owl-loop="true" data-owl-speed="10000" data-owl-gap="30" data-owl-nav="false" data-owl-dots="false" data-owl-item="5" data-owl-item-xs="2" data-owl-item-sm="2" data-owl-item-md="3" data-owl-item-lg="4" data-owl-item-xl="4" data-owl-duration="1000" data-owl-mousedrag="on">
			{% for item in vanna %}
			<div class="ps-product">
				<div class="ps-product__thumbnail">
					<a href="{{ item.get_absolute_url }}">
						{% if item.image %}
						<img src="{{ item.image }}" alt="">
						{% else %}
						<img src="/static/img/noimage.jpg" alt="">
						{% endif %}
					</a>
					<ul class="ps-product__actions">
						<li><a data-toggle="tooltip" data-placement="top"><i class="icon-bag2"></i></a></li>
						<li><a data-placement="top"  data-toggle="modal" data-target="#product-quickview"><i class="icon-eye"></i></a></li>
						<li><a data-toggle="tooltip" data-placement="top"><i class="icon-heart"></i></a></li>
						<li><a data-toggle="tooltip" data-placement="top"><i class="icon-chart-bars"></i></a></li>
					</ul>
				</div>
				<div class="ps-product__container">
					<div class="ps-product__content">
						<a class="ps-product__title" href="{{ item.get_absolute_url }}">{{ item.title }}</a>
						<p class="ps-product__price">{% if item.price == 0 %}Обновление цен{% else %}{{ item.price|floatformat:0 }} ₽{% endif %}</p>
					</div>
					<div class="ps-product__content hover">
						<a class="ps-product__title" href="{{ item.get_absolute_url }}">{{ item.title }}</a>
						<p class="ps-product__price">{% if item.price == 0 %}Обновление цен{% else %}{{ item.price|floatformat:0 }} ₽{% endif %}
							<a class="ps-product__badge" href="{{ item.get_absolute_url }}">Купить</a>
						</p>
						<small><a href="{{ item.get_absolute_url }}">Каталог {{ object.title }}</a></small>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	
</div>	

<div id="yandex_rtb_R-A-2926917-6-24" style="height:300px" class="mb-2"></div>
<script>
	window.yaContextCb.push(()=>{
		Ya.Context.AdvManager.render({
			"blockId": "R-A-2926917-6",
			"renderTo": "yandex_rtb_R-A-2926917-6-24",
			"pageNumber": 24
		})
	})
</script>
<div class="ps-block--shop-features">
	<div class="ps-block__header">
		<h3>Унитазы в {{ object.title }}</h3>
		<div class="ps-block__navigation">
			<a class="ps-carousel__prev" href="#recommended7"><i class="icon-chevron-left"></i></a>
			<a class="ps-carousel__next" href="#recommended7"><i class="icon-chevron-right"></i></a>
		</div>
	</div>
	<div class="accordion" id="accordionExample">
		<div class="card">
			<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#unitaz" aria-expanded="false" aria-controls="collapseTwo" id="accordionExample">
				<i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
			</button>
			<div id="unitaz" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
				<div class="card-body">
					<p> В каталоге сантехники интернет-магазина {{ object.title }} снижены цены на унитазы. До конца {{ month }} {{ year }} года {% for item in unitaz %}{{ item.title }}, {% endfor %} продаются со скидкой и доставкий по России.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="ps-block__content">
		<div class="owl-slider" id="recommended7" data-owl-auto="true" data-owl-loop="true" data-owl-speed="10000" data-owl-gap="30" data-owl-nav="false" data-owl-dots="false" data-owl-item="5" data-owl-item-xs="2" data-owl-item-sm="2" data-owl-item-md="3" data-owl-item-lg="4" data-owl-item-xl="4" data-owl-duration="1000" data-owl-mousedrag="on">
			{% for item in unitaz %}
			<div class="ps-product">
				<div class="ps-product__thumbnail">
					<a href="{{ item.get_absolute_url }}">
						{% if item.image %}
						<img src="{{ item.image }}" alt="">
						{% else %}
						<img src="/static/img/noimage.jpg" alt="">
						{% endif %}
					</a>
					<ul class="ps-product__actions">
						<li><a data-toggle="tooltip" data-placement="top"><i class="icon-bag2"></i></a></li>
						<li><a data-placement="top"  data-toggle="modal" data-target="#product-quickview"><i class="icon-eye"></i></a></li>
						<li><a data-toggle="tooltip" data-placement="top"><i class="icon-heart"></i></a></li>
						<li><a data-toggle="tooltip" data-placement="top"><i class="icon-chart-bars"></i></a></li>
					</ul>
				</div>
				<div class="ps-product__container">
					<div class="ps-product__content">
						<a class="ps-product__title" href="{{ item.get_absolute_url }}">{{ item.title }}</a>
						<p class="ps-product__price">{% if item.price == 0 %}Обновление цен{% else %}{{ item.price|floatformat:0 }} ₽{% endif %}</p>
					</div>
					<div class="ps-product__content hover">
						<a class="ps-product__title" href="{{ item.get_absolute_url }}">{{ item.title }}</a>
						<p class="ps-product__price">{% if item.price == 0 %}Обновление цен{% else %}{{ item.price|floatformat:0 }} ₽{% endif %}
							<a class="ps-product__badge" href="{{ item.get_absolute_url }}">Купить</a>
						</p>
						<small><a href="{{ item.get_absolute_url }}">Каталог {{ object.title }}</a></small>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	
</div>	

<div id="yandex_rtb_R-A-2926917-6-25" style="height:300px" class="mb-2"></div>
<script>
	window.yaContextCb.push(()=>{
		Ya.Context.AdvManager.render({
			"blockId": "R-A-2926917-6",
			"renderTo": "yandex_rtb_R-A-2926917-6-25",
			"pageNumber": 25
		})
	})
</script>
<div class="ps-block--shop-features">
	<div class="ps-block__header">
		<h3>Водонагреватели в {{ object.title }}</h3>
		<div class="ps-block__navigation">
			<a class="ps-carousel__prev" href="#recommended8"><i class="icon-chevron-left"></i></a>
			<a class="ps-carousel__next" href="#recommended8"><i class="icon-chevron-right"></i></a>
		</div>
	</div>
	<div class="accordion" id="accordionExample">
		<div class="card">
			<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#vodonagrev" aria-expanded="false" aria-controls="collapseTwo" id="accordionExample">
				<i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
			</button>
			<div id="vodonagrev" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
				<div class="card-body">
					<p> Для постоянного снабжения горячей водой загородного дома или дачи {{ object.title }} предлагает водонагреватели {% for item in vodonagrev %}{{ item.title }}, {% endfor %} по сниженным ценам.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="ps-block__content">
		<div class="owl-slider" id="recommended8" data-owl-auto="true" data-owl-loop="true" data-owl-speed="10000" data-owl-gap="30" data-owl-nav="false" data-owl-dots="false" data-owl-item="5" data-owl-item-xs="2" data-owl-item-sm="2" data-owl-item-md="3" data-owl-item-lg="4" data-owl-item-xl="4" data-owl-duration="1000" data-owl-mousedrag="on">
			{% for item in vodonagrev %}
			<div class="ps-product">
				<div class="ps-product__thumbnail">
					<a href="{{ item.get_absolute_url }}">
						{% if item.image %}
						<img src="{{ item.image }}" alt="">
						{% else %}
						<img src="/static/img/noimage.jpg" alt="">
						{% endif %}
					</a>
					<ul class="ps-product__actions">
						<li><a data-toggle="tooltip" data-placement="top"><i class="icon-bag2"></i></a></li>
						<li><a data-placement="top"  data-toggle="modal" data-target="#product-quickview"><i class="icon-eye"></i></a></li>
						<li><a data-toggle="tooltip" data-placement="top"><i class="icon-heart"></i></a></li>
						<li><a data-toggle="tooltip" data-placement="top"><i class="icon-chart-bars"></i></a></li>
					</ul>
				</div>
				<div class="ps-product__container">
					<div class="ps-product__content">
						<a class="ps-product__title" href="{{ item.get_absolute_url }}">{{ item.title }}</a>
						<p class="ps-product__price">{% if item.price == 0 %}Обновление цен{% else %}{{ item.price|floatformat:0 }} ₽{% endif %}</p>
					</div>
					<div class="ps-product__content hover">
						<a class="ps-product__title" href="{{ item.get_absolute_url }}">{{ item.title }}</a>
						<p class="ps-product__price">{% if item.price == 0 %}Обновление цен{% else %}{{ item.price|floatformat:0 }} ₽{% endif %}
							<a class="ps-product__badge" href="{{ item.get_absolute_url }}">Купить</a>
						</p>
						<small><a href="{{ item.get_absolute_url }}">Каталог {{ object.title }}</a></small>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	
</div>	
